/* @import 'highlight.js/styles/github.css'; */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Manrope:wght@200..800&family=Special+Gothic+Expanded+One&display=swap');
@import 'tailwindcss';

@utility stroke-px {
  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
}

@utility stroke-light {
  -webkit-text-stroke: 0.75px #000000;
  text-stroke: 0.75px #000000;
}

@utility border-light {
  border-width: 0.75px;
}

@utility text-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

@utility text-horizontal {
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
}

@theme {
  --drop-shadow-px: 1px 1px 0 #000000;
  --drop-shadow-2: 2px 2px 0 #000000;
  --drop-shadow-4: 4px 4px 0 #000000;
  --drop-shadow-card: 10px 30px 15px #aaaaaa;
  --tracking-tight: -0.03em;
  --tracking-tighter: -0.075em;
  --tracking-tightest: -0.1em;
  --font-gothic: 'Special Gothic Expanded One';
  --font-manrope: 'Manrope', 'Gothic A1';
  --aspect-project: 16 / 10;

  --animate-bgColorShift: bgColorShift 10s ease-in-out infinite;
  @keyframes bgColorShift {
    0%,
    100% {
      background: #7aff70;
    }
    75% {
      background: #70ffd4;
    }
    50% {
      background: #70ff8d;
    }
    25% {
      background: #fff370;
    }
  }
}

html {
  @apply scroll-smooth;
}

.border {
  @apply border-zinc-950;
}

button {
  @apply cursor-pointer;
}

/* markdown styles */

.markdown {
  @apply tracking-tight leading-8;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply py-2;
}

.markdown li {
  @apply relative;
}

.markdown ul > li {
  @apply pl-3 before:content-['-'] before:absolute before:left-0;
}

.markdown ol > li {
  @apply pl-1 ml-3 list-decimal;
}

.markdown ul ul {
  @apply py-0;
}

.markdown h2 {
  @apply sticky top-0 z-10 bg-zinc-200 mt-12 mb-4 border-b font-medium text-2xl tracking-tighter;
}

.markdown h3 {
  @apply pt-6 text-xl;
}

.markdown h4 {
  @apply pt-4 text-lg;
}

.markdown strong {
  @apply font-semibold;
}

.markdown code {
  @apply px-1.5 rounded-lg bg-purple-200 brightness-90 saturate-50;
  counter-reset: step;
  counter-increment: step 0;
}

.markdown pre code {
  @apply inline-block px-0 py-3 border border-zinc-400 rounded-xl bg-white text-xs sm:text-sm md:text-base text-wrap leading-7 brightness-100 saturate-[65%];
}

.markdown pre {
  @apply inline-block py-2 bg-transparent!;
}

.markdown blockquote {
  @apply inline-block px-2 py-0 border border-zinc-500 rounded-xl bg-blue-200/50 text-sm brightness-90 saturate-[30%] leading-7;
}

.markdown hr {
  @apply my-3 border-dashed;
}

.markdown code .line::before {
  @apply inline-block w-6 mr-4 text-blue-400/80 text-right text-xs sm:text-sm saturate-[70%];
  content: counter(step);
  counter-increment: step;
}

.markdown code .line {
  @apply pl-2 pr-4;
}

.markdown pre code .highlighted {
  @apply pl-1.5 border-l-2 border-blue-500 bg-blue-100/70;
}

.markdown img {
  @apply w-full max-w-3xl mx-auto;
}
